<div>
  <form class="date-form" name="date-form" method="POST" action="/user/find">
    <label>
      Enter Start-Date: &nbsp;<input
        type="date"
        name="start_d"
        placeholder="mm-dd-yyyy"
      />
    </label>
    <label>
      Enter End-Date&nbsp;&nbsp;:&nbsp;&nbsp;<input
        type="date"
        name="end_d"
        placeholder="mm-dd-yyyy"
      />
    </label>
    <br />
    <button type="submit" value="AddUser">Submit</button>
  </form>
</div>
