<div>
  <h1>STICKMAN ASSIGNMENT</h1>
  <nav>
    &ensp;
    <a href="/">Home</a>
    &ensp;
    <a href="/form">Input Form</a>
    &ensp;
    <a href="/user/all">Display & Print</a>
  </nav>
  <h3>Create BY : <%= username %></h3>
  <h3>mail ID : <%= mail %></h3>
  <h4><%= message %></h4>
</div>
